<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %> 
<body>
    <%- include('../../partials/navbar') %> 
    
    
    <div class="container"><br><br>
        <div class="card">
            <div class="card-header"><strong><h3>Edicao de Artigo</h3></strong></div>
            <div class="card card-body">
                <form action="/admin/articles/edit" method="POST">
                        <input type="text" class="form-control" name="title" id="title" placeholder="Nome do Artigo Aqui" value="<%= article.title %>" required><br>
                        <textarea class="form-control" name="body" id="body" cols="30" rows="6" placeholder="Escreva seu artigo aqui"><%= article.body %> </textarea><br>
                        <select class="form-control" name="category" id="category">

                            <% categories.forEach(category => { %>
                                <% if(category.id == article.categoryId){ %>
                                    <option value="<%= category.id %>" selected><%= category.title %></option>
                                <% }else{ %>
                                    <option value="<%= category.id %>"><%= category.title %></option>
                                <% } %> 
                            <% }) %> 
                            
                        </select><br><br>
                        <input type="hidden" name="articleId" id="articleId" value="<%= article.id %>">
                        <button type="submit" class="btn btn-dark">Confirmar</button>
                </form>
            </div>
        </div>
    </div>

    
</body>
</html>
<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: "#body",
        plugins: ["advlist autolink link image list print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"]
    })

</script>
<%- include('../../partials/scripts') %>